.vscode/**
.vscode-test/**
test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
.eslintrc.json
**/*.ts
**/tsconfig.json
**/.vscode-test.*
**/.eslintrc.js
eslint.config.mjs
CHANGELOG.md
extension.test.js
.vscode-test.mjs
package-lock.json
*.vsix
.git
.github